<!DOCTYPE html>
<%
 var monthNames = [
      "Enero", "Febrero", "Marzo",
      "Abril", "Mayo", "Junio", "Julio",
      "Agosto", "Septiembre", "Octubre",
      "Noviembre", "Deciembre"
   ];
   var membership = user.membership;
   var d = membership.startDate.getDate();
   var m = monthNames[membership.startDate.getMonth()];
   var y = membership.startDate.getFullYear();

   var d2 = membership.expiringDate.getDate();
   var m2 = monthNames[membership.expiringDate.getMonth()];
   var y2 = membership.expiringDate.getFullYear();

   var age = 0;
   var userAge  = user.birthday.getFullYear();
   age = new Date().getFullYear() - userAge;
 %>

<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">
    <% include ../partials/header %>

    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Profile Page</h1>
        <div class="card hovercard">
          <div class="cardheader"></div>
          <div class="avatar">
            <img class ="img-circle" alt="" src="/img/nophoto.jpg" />
            <h4><%= user.name %></h2> <br />
            <h4><%= user.dadLastName + " " + user.momLastName %></h4>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active">
              <a href="/profile">General</a>
              <span class="sr-only">(current)</span>
            </li>
            <li>
              <a href="#">Editar perfil</a>
            </li>
          </ul>

        </div>
        <!-- Informacion local -->
        <div class="col-sm-9">
          <div class="row placeholders">
            <div class="col-sm-4 placeholder">
              <h3>Membresia</h3><hr />
              <span><strong>ID: </strong><%=  membership.memberId %></span><br /><hr />
              <span><strong>Fecha inicio: </strong><%= d+ ' ' +m+ ' ' +y %> </span><br /><hr />
              <span><strong>Fecha fin: </strong><%= d2+ ' ' +m2+ ' ' +y2 %> </span><br /><hr />
            </div>
            <div class="col-sm-4 placeholder">
              <h3>Datos personales</h3><hr />
              <span><strong>Edad: </strong></span><%= age %><br /><hr />
              <span><strong>Telefono: </strong></span> <%=  user.cellphone %><br /><hr />
              <span><strong>Correo: </strong></span> <%=  user.email %><br /><hr />
              <span><strong>C&oacute;digo postal: </strong></span> <%=  user.cp %><br /><hr />
            </div>
            <div class="col-sm-4 placeholder">
              <h3>Salud</h3><hr />
              <ul class="nav">
                <li class="active">
                  <a href="#">Completar Informaci&oacute;n</a>
                  <span class="sr-only">(current)</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <hr />
    <% include ../partials/footer %>
</body>

</html>
